@font-face {
  font-family: "Depot New";
  src: url("fonts/867d8a33-9621-46de-8cd3-00e4c1aa936f.eot?#iefix");
  src: url("fonts/867d8a33-9621-46de-8cd3-00e4c1aa936f.eot?#iefix") format("eot"), url("fonts/c5398956-a581-429d-bd05-7c4402f551a5.woff2") format("woff2"), url("fonts/7319ca94-f068-40c9-9652-1b3cba83c177.woff") format("woff"), url("fonts/db3d9698-5f0a-4bbc-8829-9ba805797cac.ttf") format("truetype");
}
@font-face {
  font-family: "Depot New Bold";
  src: url("fonts/f86b05a7-1d16-4632-897e-a0a15b5d9015.eot?#iefix");
  src: url("fonts/f86b05a7-1d16-4632-897e-a0a15b5d9015.eot?#iefix") format("eot"), url("fonts/cad30bd0-ec81-4b96-8662-40a00ff65fc9.woff2") format("woff2"), url("fonts/f642d556-e5b4-4224-8bb5-fa8274f560ea.woff") format("woff"), url("fonts/b92abdc5-6dd5-4edf-a7db-41043e6ab307.ttf") format("truetype");
}
h1 {
  font-family: "Depot New", sans-serif;
}

.page-heading__title, .hero h1, .dropdown-menu, h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: "Arial", sans-serif;
}

.header__title {
  font-weight: 500;
}

.header__title--rotary, header .carousel-caption, h1,
h2,
h3 {
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

h1 {
  color: #0c3c7c;
  font-size: 42px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

p {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}

img {
  height: auto;
  max-width: 100%;
}

div {
  background-position: center center;
  background-size: cover;
}

hr {
  background-color: #353a40;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

header {
  display: flex;
  flex-direction: column;
}
header .navbar-collapse {
  flex-direction: column;
}
header .carousel {
  height: 500px;
}
header .carousel-inner {
  height: 100%;
}
header .carousel-item {
  background-size: cover;
  height: 100%;
}
header .carousel-item::after {
  background-color: rgba(0, 0, 0, 0.4);
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
header .carousel-caption {
  bottom: unset;
  color: #fff;
  font-size: 20px;
  left: 20%;
  right: 20%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
header .carousel-control-prev, header .carousel-control-next {
  opacity: 1;
}
header .carousel-control-prev-icon, header .carousel-control-next-icon {
  background-image: unset;
  border-bottom: 5px solid #faa742;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}
header .carousel-control-prev-icon {
  border-left: 5px solid #faa742;
  transform: rotate(45deg);
}
header .carousel-control-next-icon {
  border-right: 5px solid #faa742;
  transform: rotate(-45deg);
}
header .carousel-indicators li {
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
header .carousel-indicators .active {
  background-color: #faa742;
}

.header__title {
  text-align: center;
  width: 100%;
}
.header__title:hover {
  color: #0c3c7c;
  text-decoration: none;
}
.header__title img {
  display: block;
  margin: 0 auto;
}
.header__logo {
  width: 107px;
}
.header .navbar-nav .nav-item {
  border-right: 1px solid #0c3c7c;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 0 10px;
}
.header .navbar-nav .nav-item:last-of-type {
  border: 0;
}
.header .navbar-nav .nav-link {
  color: #000;
}
.header .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.header .navbar-nav i {
  color: #0c3c7c;
}

.menu-main-menu-container {
  display: flex;
  width: 100%;
}

.dropdown-menu {
  border-radius: 0;
  color: #353a40;
  font-size: 15px;
  margin-top: 4px;
}
.dropdown-menu::before {
  background-color: #fff;
  content: " ";
  height: 20px;
  left: 20px;
  position: absolute;
  top: -5px;
  transform: rotate(45deg);
  width: 20px;
  z-index: -1;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-expand-sm > .container,
.navbar-expand-sm > .container-fluid {
  flex-wrap: wrap;
}

.navbar-toggler {
  font-size: 20px;
  margin: 0 auto;
}

.searchform {
  position: relative;
}
.searchform__submit {
  background: none;
  border: 0;
  margin-right: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.searchform input {
  padding: 5px;
}

.main-menu {
  background-color: #0c3c7c;
}
.main-menu .navbar-nav {
  margin-left: 0;
}
.main-menu .nav-item {
  margin-left: 15px;
}
.main-menu .nav-link {
  color: #fff;
}
.main-menu .nav-link:hover {
  text-decoration: underline;
}

.hero {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  position: relative;
}
.hero h1 {
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  z-index: 1;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.section {
  padding: 45px 0;
}
.section h2 {
  color: #0c3c7c;
}
.section--dark {
  background-color: #353a40;
  color: #fff;
}
.section--dark h2 {
  color: #fff;
  position: relative;
}
.section--dark h2::after {
  background-color: #faa742;
  bottom: 0;
  content: " ";
  height: 3px;
  position: absolute;
  right: 0;
  width: 85%;
}
.section--thin {
  margin: 0 auto;
  width: 80%;
}

.page-heading {
  align-items: center;
  display: flex;
}
.page-heading__logo {
  display: inline-block;
  margin-right: 15px;
}
.page-heading__heading {
  display: inline-block;
  padding-top: 30px;
}
.page-heading__title {
  font-size: 30px;
  margin-bottom: 0;
  position: relative;
}
.page-heading__title::after {
  background-color: #faa742;
  bottom: 0;
  content: " ";
  height: 2px;
  left: 0;
  margin-left: 30px;
  position: absolute;
  width: 200px;
}
.page-heading__subtitle {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 10px;
}

.side-borders {
  border-left: 3px solid #faa742;
  border-right: 3px solid #faa742;
  padding: 0 15px;
}

.vert-spacer {
  height: 30px;
  width: 100%;
}

.center-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.btn {
  border: 0;
  border-radius: 2px;
  flex: 0;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  padding: 5px 20px;
}
.btn:hover {
  text-decoration: none;
}

.btn-primary {
  background-color: #0c3c7c;
  color: #fff;
}
.btn-primary:hover {
  background-color: #019fcb;
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
  color: #353a40;
}
.btn-secondary:hover {
  background-color: #faa742;
  color: #353a40;
}

.mismatched-columns {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.mismatched-columns__thin {
  grid-column: span 1;
}
.mismatched-columns__wide {
  grid-column: span 1;
}

.learn-more {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}
.learn-more-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.learn-more h3 {
  color: #0c3c7c;
}
.learn-more img {
  margin: 15px 0;
  max-width: 50%;
}
.learn-more__btn {
  margin-top: auto;
}

.leaders__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
.leaders__info {
  display: block;
  margin-bottom: 30px;
  padding: 0 10%;
}
.leaders__name {
  color: #0c3c7c;
  font-size: 20px;
  position: relative;
}
.leaders__name::after {
  background-color: #faa742;
  bottom: -2px;
  content: " ";
  height: 2px;
  left: 0;
  margin-left: 30px;
  position: absolute;
  width: 80%;
}
.leaders__title {
  color: #353a40;
  font-size: 16px;
}
.leaders__email {
  color: #353a40;
  font-size: 14px;
}

.members__info {
  margin-bottom: 30px;
  position: relative;
}
.members__info::after {
  background-color: #faa742;
  bottom: -12px;
  content: " ";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 80%;
}
.members__name {
  font-size: 20px;
}
.members__text {
  font-size: 16px;
  margin-bottom: 0;
}
.members__text::last {
  margin-bottom: 15px;
}
.members__email {
  color: #353a40;
  display: block;
  font-size: 14px;
  margin: 10px 0;
}

.contact__input {
  margin-bottom: 15px;
}

.calendar__search {
  display: flex;
  margin-bottom: 30px;
}
.calendar__datepicker {
  border: 1px solid #353a40;
  border-radius: 2px;
  margin: 0 15px;
  padding: 5px 10px;
}
.calendar__month-heading {
  background-color: #353a40;
  color: #fff;
  font-weight: bold;
  margin: 30px 0;
  padding: 5px 0;
  text-align: center;
}

.event__summary {
  align-items: center;
  display: flex;
}
.event__big-date {
  display: inline-block;
  margin-right: 30px;
}
.event__big-date p {
  color: #353a40;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}
.event__big-date p:last-of-type {
  font-size: 26px;
  margin-top: -20px;
}
.event__info {
  display: inline-block;
}
.event__heading {
  display: flex;
}
.event__icon {
  display: inline-block;
  font-size: 30px;
  margin-right: 10px;
}
.event__title-date {
  display: inline-block;
}
.event__title {
  font-size: 22px;
  margin-bottom: 0;
}
.event__title a {
  color: #0c3c7c;
}
.event__date {
  font-size: 18px;
  margin-bottom: 0;
}
.event__details-toggle {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.event__details-toggle a {
  color: #353a40;
}
.event__details {
  column-gap: 15px;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: auto;
  margin-left: 85px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear;
}
.event .show-details {
  max-height: 200px;
}

.single__title {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 30px;
}
.single__details {
  color: #777;
  column-gap: 15px;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: auto;
}
.single__details > p {
  margin-bottom: 0;
}

.footer {
  text-align: center;
}
.footer__heading {
  font-size: 20px;
  margin-bottom: 5px;
}
.footer__menu {
  list-style: none;
}
.footer__menu li {
  margin-bottom: 10px;
}
.footer__menu a {
  color: #353a40;
  margin-bottom: 10px;
}
.footer__menu a:hover {
  color: #353a40;
}

.copyright {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  text-align: left;
}
.copyright img {
  margin-right: 15px;
}
.copyright__link {
  color: #faa742;
}
.copyright__link:hover {
  color: #000;
}

@media screen and (min-width: 576px) {
  .header img {
    display: inline-block;
  }

  header carousel-caption {
    font-size: 24px;
  }

  .learn-more {
    max-width: 50%;
  }
}
@media screen and (min-width: 768px) {
  header .carousel-caption {
    font-size: 30px;
    left: 30%;
    right: 30%;
  }

  .main-menu .navbar-nav {
    margin-left: auto;
  }

  .mismatched-columns {
    grid-template-columns: repeat(5, 1fr);
  }
  .mismatched-columns__thin {
    grid-column: span 2;
  }
  .mismatched-columns__wide {
    grid-column: span 3;
  }

  .page-heading__subtitle {
    margin-left: 60px;
    margin-top: 0;
  }

  .footer {
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .header__title {
    text-align: left;
    width: auto;
  }
  .header__search {
    margin-left: auto;
  }
  .header .navbar-nav {
    margin-left: auto;
  }
  .header img {
    display: inline-block;
  }

  header .carousel-caption {
    font-size: 36px;
  }

  .learn-more-wrapper {
    flex-wrap: nowrap;
  }

  .leaders__img {
    display: inline-block;
    margin: 0;
    margin-right: 15px;
  }
  .leaders__info {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .leaders__name {
    font-size: 24px;
  }
  .leaders__name::after {
    width: 80%;
  }
  .leaders__title {
    font-size: 18px;
  }
  .leaders__email {
    font-size: 14px;
  }
  .leaders__row {
    margin-bottom: 30px;
  }

  .members__info {
    margin: 0;
  }
  .members__row {
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
