@font-face {
  font-family: "Depot New";
  src: url("fonts/867d8a33-9621-46de-8cd3-00e4c1aa936f.eot?#iefix");
  src: url("fonts/867d8a33-9621-46de-8cd3-00e4c1aa936f.eot?#iefix") format("eot"), url("fonts/c5398956-a581-429d-bd05-7c4402f551a5.woff2") format("woff2"), url("fonts/7319ca94-f068-40c9-9652-1b3cba83c177.woff") format("woff"), url("fonts/db3d9698-5f0a-4bbc-8829-9ba805797cac.ttf") format("truetype");
}
@font-face {
  font-family: "Depot New Bold";
  src: url("fonts/f86b05a7-1d16-4632-897e-a0a15b5d9015.eot?#iefix");
  src: url("fonts/f86b05a7-1d16-4632-897e-a0a15b5d9015.eot?#iefix") format("eot"), url("fonts/cad30bd0-ec81-4b96-8662-40a00ff65fc9.woff2") format("woff2"), url("fonts/f642d556-e5b4-4224-8bb5-fa8274f560ea.woff") format("woff"), url("fonts/b92abdc5-6dd5-4edf-a7db-41043e6ab307.ttf") format("truetype");
}
h1 {
  font-family: "Depot New", sans-serif;
}

.page-heading__title, .hero h1, .dropdown-menu, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: "Arial", sans-serif;
}

.header__title h1 {
  font-weight: normal;
}

.header__title--rotary, header .carousel-caption, h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

h1 {
  color: #0c3c7c;
  font-size: 42px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

p {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}

img {
  height: auto;
  max-width: 100%;
}

div {
  background-position: center center;
  background-size: cover;
}

hr {
  background-color: #353a40;
}

a {
  color: #0c3c7c;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
  margin-right: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
}

.alignright,
.alignleft {
  margin-bottom: 15px;
}
.alignright::after,
.alignleft::after {
  clear: both;
  content: " ";
  display: table;
}

header {
  display: flex;
  flex-direction: column;
}
header .navbar-collapse {
  flex-direction: column;
}
header .carousel {
  background-color: #353a40;
  height: 500px;
}
header .carousel-inner {
  height: 100%;
}
header .carousel-item {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
header .carousel-caption {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: unset;
  color: #fff;
  display: flex;
  font-size: 20px;
  height: 100%;
  justify-content: center;
  left: 0;
  padding-left: 20%;
  padding-right: 20%;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}
header .carousel-control-prev, header .carousel-control-next {
  opacity: 1;
}
header .carousel-control-prev-icon, header .carousel-control-next-icon {
  background-image: unset;
  border-bottom: 5px solid #faa742;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}
header .carousel-control-prev-icon {
  border-left: 5px solid #faa742;
  transform: rotate(45deg);
}
header .carousel-control-next-icon {
  border-right: 5px solid #faa742;
  transform: rotate(-45deg);
}
header .carousel-indicators li {
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
header .carousel-indicators .active {
  background-color: #faa742;
}

.header__title {
  text-align: center;
  width: 100%;
}
.header__title:hover {
  color: #0c3c7c;
  text-decoration: none;
}
.header__title img {
  display: block;
  margin: 0 auto;
}
.header__logo {
  width: 107px;
}
.header .navbar-nav .nav-item {
  border-right: 1px solid #0c3c7c;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 0 10px;
}
.header .navbar-nav .nav-item:last-of-type {
  border: 0;
}
.header .navbar-nav .nav-link {
  color: #000;
}
.header .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.header .navbar-nav i {
  color: #0c3c7c;
}

.menu-main-menu-container {
  display: flex;
  width: 100%;
}

.dropdown-menu {
  border-radius: 0;
  color: #353a40;
  font-size: 15px;
  margin-top: 4px;
}
.dropdown-menu::before {
  background-color: #fff;
  content: " ";
  height: 20px;
  position: absolute;
  right: 20px;
  top: -5px;
  transform: rotate(45deg);
  width: 20px;
  z-index: -1;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  position: relative;
}
.dropdown-item.active {
  background-color: #f8f9fa;
  color: #353a40;
}
.dropdown-item.active::before {
  content: ">";
  height: 5px;
  position: absolute;
  transform: translateX(-200%);
  width: 5px;
}

.navbar-expand-sm > .container,
.navbar-expand-sm > .container-fluid {
  flex-wrap: wrap;
}

.navbar-toggler {
  font-size: 20px;
  margin: 0 auto;
}

.searchform {
  position: relative;
}
.searchform__submit {
  background: none;
  border: 0;
  margin-right: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.searchform input {
  padding: 5px;
}

.main-menu {
  background-color: #0c3c7c;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  z-index: 99;
}
.main-menu .navbar-nav {
  margin-left: 0;
}
.main-menu .nav-item {
  margin-left: 15px;
}
.main-menu .nav-link {
  color: #fff;
}
.main-menu .nav-link:hover {
  text-decoration: underline;
}

.hero {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  position: relative;
}
.hero h1 {
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  z-index: 1;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.section {
  padding: 45px 0;
}
.section::after {
  clear: both;
  content: " ";
  display: table;
}
.section h2 {
  color: #0c3c7c;
}
.section--dark {
  background-color: #353a40;
  color: #fff;
}
.section--dark h2 {
  color: #fff;
  position: relative;
}
.section--dark h2::after {
  background-color: #faa742;
  bottom: 0;
  content: " ";
  height: 3px;
  position: absolute;
  right: 0;
  width: 85%;
}

.page-heading {
  align-items: center;
  display: flex;
}
.page-heading__logo {
  display: inline-block;
  margin-right: 15px;
}
.page-heading__heading {
  display: inline-block;
  padding-top: 30px;
}
.page-heading__title {
  font-size: 30px;
  margin-bottom: 0;
  position: relative;
}
.page-heading__title::after {
  background-color: #faa742;
  bottom: 0;
  content: " ";
  height: 2px;
  left: 0;
  margin-left: 30px;
  position: absolute;
  width: 200px;
}
.page-heading__subtitle {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 10px;
}

.page-title {
  color: #0c3c7c;
}
.page-title a {
  color: #0c3c7c;
}

.side-borders {
  border-left: 3px solid #faa742;
  border-right: 3px solid #faa742;
  padding: 0 15px;
}

.vert-spacer {
  height: 30px;
  width: 100%;
}

.center-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.btn {
  border: 0;
  border-radius: 2px;
  flex: 0;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  padding: 5px 20px;
}
.btn:hover {
  text-decoration: none;
}

.btn-primary {
  background-color: #0c3c7c;
  color: #fff;
}
.btn-primary:hover {
  background-color: #019fcb;
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
  color: #353a40;
}
.btn-secondary:hover {
  background-color: #faa742;
  color: #353a40;
}

.mismatched-columns {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.mismatched-columns__thin {
  grid-column: span 1;
}
.mismatched-columns__wide {
  grid-column: span 1;
}

.learn-more {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}
.learn-more-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.learn-more h3 {
  color: #0c3c7c;
}
.learn-more img {
  margin: 15px 0;
  max-width: 50%;
}
.learn-more__btn {
  margin-top: auto;
}

.leaders {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
}
.leaders__img {
  align-self: center;
  justify-self: center;
  margin: 0;
  width: 100%;
}
.leaders__name {
  color: #0c3c7c;
  font-size: 20px;
  position: relative;
}
.leaders__name::after {
  background-color: #faa742;
  bottom: -2px;
  content: " ";
  height: 2px;
  left: 0;
  margin-left: 30px;
  position: absolute;
  width: 80%;
}
.leaders__title {
  color: #353a40;
  font-size: 16px;
}
.leaders__email {
  color: #353a40;
  font-size: 14px;
}

.members {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
}
.members__info {
  margin: 0;
  padding-bottom: 15px;
  position: relative;
}
.members__info::after {
  background-color: #faa742;
  bottom: 0;
  content: " ";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 80%;
}
.members__name {
  font-size: 20px;
  margin-bottom: 0;
}
.members__text {
  font-size: 16px;
  margin-bottom: 0;
}
.members__text::last {
  margin-bottom: 15px;
}
.members__email {
  color: #353a40;
  display: block;
  font-size: 14px;
  margin: 10px 0;
}

.contact__input {
  margin-bottom: 15px;
}

.calendar__search {
  display: flex;
  margin-bottom: 30px;
  margin-top: 15px;
}
.calendar__datepicker {
  border: 1px solid #353a40;
  border-radius: 2px;
  margin: 0 15px;
  padding: 5px 10px;
}
.calendar__month-heading {
  background-color: #353a40;
  color: #fff;
  font-weight: bold;
  margin: 30px 0;
  padding: 5px 0;
  text-align: center;
}

.event__summary {
  align-items: center;
  display: flex;
}
.event__big-date {
  display: inline-block;
  margin-right: 30px;
}
.event__big-date p {
  color: #353a40;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}
.event__big-date p:last-of-type {
  font-size: 26px;
  margin-top: -20px;
}
.event__info {
  display: inline-block;
}
.event__heading {
  display: flex;
}
.event__icon {
  display: inline-block;
  font-size: 30px;
  margin-right: 10px;
}
.event__title-date {
  display: inline-block;
}
.event__title {
  font-size: 22px;
  margin-bottom: 0;
}
.event__title a {
  color: #0c3c7c;
}
.event__date {
  font-size: 18px;
  margin-bottom: 0;
}
.event__details-toggle {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.event__details-toggle a {
  color: #353a40;
}
.event__details {
  column-gap: 15px;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: auto;
  margin-left: 85px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear;
}
.event .show-details {
  max-height: 200px;
}

.single__title {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 30px;
}
.single__date {
  color: #353a40;
  font-size: 18px;
  margin-bottom: 0;
}
.single__details {
  color: #555;
  column-gap: 15px;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: auto;
}
.single__details > p {
  margin-bottom: 0;
}

.newsletters__month-heading {
  color: #555;
  font-weight: bold;
  margin: 30px 0;
  padding: 5px 0;
  text-align: center;
}
.newsletters__summary {
  align-items: center;
  display: flex;
}
.newsletters__big-date {
  display: inline-block;
  margin-right: 30px;
}
.newsletters__big-date p {
  color: #353a40;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}
.newsletters__big-date p:last-of-type {
  font-size: 26px;
  margin-top: -20px;
}
.newsletters__info {
  display: inline-block;
}
.newsletters__heading {
  display: flex;
}
.newsletters__title-date {
  display: inline-block;
}
.newsletters__title {
  font-size: 22px;
  margin-bottom: 0;
}
.newsletters__title a {
  color: #000;
}
.newsletters__date {
  color: #353a40;
  font-size: 18px;
  margin-bottom: 0;
}
.newsletters__excerpt {
  color: #000;
  margin-left: 85px;
}
.newsletters__excerpt a {
  color: #353a40;
}

.sidebar__heading {
  color: #353a40;
  margin-bottom: 15px;
}
.sidebar__list {
  list-style-type: none;
}
.sidebar__list a {
  color: #353a40;
  font-weight: bold;
}

.fourwaytest {
  color: #353a40;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 30px;
}
.fourwaytest__block {
  align-items: start;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.fourwaytest__icon {
  margin: 15px 0;
}
.fourwaytest__heading {
  color: #0c3c7c;
  font-size: 22px;
}
.fourwaytest__heading span {
  display: block;
  font-size: 24px;
}
.fourwaytest__number {
  color: #58585a;
  font-size: 60px;
  margin-bottom: 0;
}

.objectivelist {
  column-gap: 15px;
  display: grid;
  grid-template-columns: 1fr;
}

.twentyreasons {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
}
.twentyreasons__reason {
  display: flex;
}
.twentyreasons__number {
  color: #58585a;
  font-size: 60px;
  margin-right: 15px;
  margin-top: -30px;
}
.twentyreasons__heading {
  color: #0c3c7c;
  font-size: 20px;
}
.twentyreasons__description {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.twentyreasons__description hr {
  background-color: #faa742;
  margin-top: auto;
}

.stories {
  display: grid;
  grid-auto-rows: 20px;
  grid-gap: 30px;
  grid-template-columns: 1fr;
}
.stories__img {
  margin-bottom: 15px;
  width: 100%;
}
.stories__title {
  color: #0c3c7c;
  font-size: 20px;
}
.stories__readmore {
  color: #353a40;
  font-weight: bold;
}

.view-more {
  display: flex;
  justify-content: end;
}

.single-story__title {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 30px;
}
.single-story__date {
  color: #353a40;
  font-size: 18px;
  margin-bottom: 30px;
}

.gallery {
  margin-bottom: 60px;
}
.gallery:last-of-type {
  margin-bottom: 0;
}
.gallery__grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
}
.gallery__item {
  cursor: pointer;
  height: 250px;
  overflow: hidden;
}
.gallery__img {
  float: left;
  margin-right: 30px;
  width: 100%;
}
.gallery__info {
  display: none;
  padding: 30px;
  padding-top: 10px;
}
.gallery__close {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: auto;
}
.gallery__img-title {
  margin-bottom: 0;
}
.gallery__underline {
  background-color: #faa742;
  height: 1px;
  width: 30%;
}
.gallery__active {
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.4);
  display: grid;
  grid-column: span 3;
  grid-template-columns: 1fr;
  height: auto;
  overflow: visible;
  z-index: 99;
}
.gallery__active .gallery__info {
  display: flex;
  flex-direction: column;
}

.documents {
  margin-bottom: 30px;
}
.documents:last-of-type {
  margin-bottom: 0;
}
.documents h3 {
  margin-bottom: 0;
}
.documents p {
  margin-bottom: 0;
}
.documents__title {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-bottom: 30px;
}
.documents__close {
  font-size: 18px;
  margin-right: 15px;
  min-width: 20px;
  width: 20px;
}
.documents__grid {
  align-items: center;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: min-content minmax(min-content, 3fr) 0 0;
}
.documents__grid-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.documents__icon {
  font-size: 20px;
}
.documents__filename {
  word-break: break-all;
}
.documents__filename:first-of-type {
  grid-column: 2;
}
.documents__modified {
  height: 0;
  visibility: hidden;
}
.documents__filesize {
  height: 0;
  justify-self: flex-end;
  visibility: hidden;
}
.documents__underline {
  background-color: #faa742;
  grid-column: 2/span 3;
  height: 2px;
  width: 100%;
}

.footer {
  text-align: center;
}
.footer h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.footer__menu {
  list-style: none;
}
.footer__menu li {
  margin-bottom: 10px;
}
.footer__menu a {
  color: #353a40;
  margin-bottom: 10px;
}
.footer__menu a:hover {
  color: #353a40;
}

.copyright {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: left;
}
.copyright img {
  margin-right: 15px;
}
.copyright a {
  color: #faa742;
}
.copyright a:hover {
  color: #000;
}
.copyright p,
.copyright .alignleft,
.copyright .alignright {
  margin-bottom: 0;
}

@media screen and (min-width: 576px) {
  .header img {
    display: inline-block;
  }

  header carousel-caption {
    font-size: 24px;
  }

  .learn-more {
    max-width: 50%;
  }

  .fourwaytest {
    grid-template-columns: repeat(2, 1fr);
  }

  .objectivelist {
    grid-template-columns: max-content 1fr;
  }

  .twentyreasons {
    grid-template-columns: repeat(2, 1fr);
  }

  .stories {
    grid-template-columns: 3fr 2fr;
  }

  .gallery__grid {
    grid-template-columns: 1fr 1fr;
  }

  .leaders {
    grid-template-columns: max-content 1fr;
  }
}
@media screen and (min-width: 768px) {
  header .carousel-caption {
    font-size: 30px;
    padding-left: 30%;
    padding-right: 30%;
  }

  .main-menu .navbar-nav {
    margin-left: auto;
  }

  .section--thin {
    margin: 0 auto;
    width: 80%;
  }

  .mismatched-columns {
    grid-template-columns: repeat(5, 1fr);
  }
  .mismatched-columns__thin {
    grid-column: span 2;
  }
  .mismatched-columns__wide {
    grid-column: span 3;
  }

  .page-heading__subtitle {
    margin-left: 60px;
    margin-top: 0;
  }

  .fourwaytest {
    grid-template-columns: repeat(4, 1fr);
  }

  .twentyreasons__heading {
    font-size: 28px;
  }

  .leaders {
    grid-template-columns: max-content 1fr max-content 1fr;
  }

  .members {
    grid-template-columns: 1fr 1fr;
  }

  .stories {
    grid-template-columns: 2fr 1fr;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery__active {
    grid-template-columns: 1fr 1fr;
  }

  .documents__grid {
    grid-template-columns: min-content minmax(max-content, 3fr) repeat(2, minmax(max-content, 1fr));
  }
  .documents__modified {
    height: auto;
    visibility: visible;
  }
  .documents__filesize {
    height: auto;
    visibility: visible;
  }

  .footer {
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .header__title {
    text-align: left;
    width: auto;
  }
  .header__search {
    margin-left: auto;
  }
  .header .navbar-nav {
    margin-left: auto;
  }
  .header img {
    display: inline-block;
  }

  header .carousel-caption {
    font-size: 36px;
  }

  .menu-header-menu-container {
    margin-left: auto;
  }

  .learn-more-wrapper {
    flex-wrap: nowrap;
  }

  .leaders__name {
    font-size: 24px;
  }
  .leaders__name::after {
    width: 80%;
  }
  .leaders__title {
    font-size: 18px;
  }
  .leaders__email {
    font-size: 14px;
  }
  .leaders__row {
    margin-bottom: 30px;
  }

  .twentyreasons {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
