// sass-lint:disable nesting-depth

@import _variables.sass

*,
*::before,
*::after
    box-sizing: inherit
    margin: 0
    padding: 0

html
    font-size: 62.5%

body
    @extend %font-body
    box-sizing: border-box
    font-size: 1.6rem

h1,
h2,
h3,
h4,
h5,
h6
    @extend %font-open-sans
    @extend %font-bold
    margin-bottom: 20px

h1
    @extend %font-heading
    color: $color-primary
    font-size: $font-size-xl

h2
    font-size: $font-size-heading

h3
    @extend %font-open-sans
    font-size: $font-size-md

h4
    font-size: 24px

h5
    font-size: 22px

h6
    font-size: 20px

p
    font-family: Arial, sans-serif
    font-size: 18px
    margin-bottom: 15px

img
    height: auto
    max-width: 100%

div
    background-position: center center
    background-size: cover

hr
    background-color: $color-dark


.aligncenter
    display: block
    margin-left: auto
    margin-right: auto

.alignleft
    float: left
    margin-bottom: 15px
    margin-right: 15px

.alignright
    float: right
    margin-bottom: 15px
    margin-left: 15px



///////////////////////////////////////////////////////////////////////////////
// HEADER                                                                    //
///////////////////////////////////////////////////////////////////////////////

header
    display: flex
    flex-direction: column

    .navbar-collapse
        flex-direction: column

    .carousel
        height: 500px

        &-inner
            height: 100%

        &-item
            background-size: cover
            height: 100%

            &::after
                background-color: $color-carousel-shade
                content: ' '
                height: 100%
                left: 0
                position: absolute
                top: 0
                width: 100%
                z-index: 0

        &-caption
            @extend %font-bold
            bottom: unset
            color: $color-white
            font-size: 20px
            left: 20%
            right: 20%
            text-align: center
            top: 50%
            transform: translateY(-50%)
            z-index: 1

        &-control-prev,
        &-control-next
            opacity: 1

        &-control-prev-icon,
        &-control-next-icon
            background-image: unset
            border-bottom: 5px solid $color-secondary
            border-radius: 5px
            height: 40px
            width: 40px

        &-control-prev-icon
            border-left: 5px solid $color-secondary
            transform: rotate(45deg)

        &-control-next-icon
            border-right: 5px solid $color-secondary
            transform: rotate(-45deg)

        &-indicators
            li
                background-color: transparent
                border: 3px solid $color-white
                border-radius: 50%
                height: 15px
                width: 15px

            & .active
                background-color: $color-secondary

.header
    &__title
        @extend %font-normal
        text-align: center
        width: 100%

        &:hover
            color: $color-primary
            text-decoration: none

        &--rotary
            @extend %font-bold

        img
            display: block
            margin: 0 auto

    &__logo
        width: 107px

    .navbar-nav
        .nav-item
            border-right: 1px solid $color-primary
            font-size: $font-size-sm
            margin-bottom: 15px
            padding: 0 10px

            &:last-of-type
                border: 0

        .nav-link
            color: $color-black

            &:hover
                text-decoration: underline

        i
            color: $color-primary

.menu-main-menu-container
    display: flex
    width: 100%

.dropdown-menu
    @extend %font-open-sans
    border-radius: 0
    color: $color-dark
    font-size: 15px
    margin-top: 4px

    &::before
        background-color: $color-white
        content: ' '
        height: 20px
        left: 20px
        position: absolute
        top: -5px
        transform: rotate(45deg)
        width: 20px
        z-index: -1

.dropdown-toggle
    &::after
        display: none

.navbar-expand-sm > .container,
.navbar-expand-sm > .container-fluid
    flex-wrap: wrap

.navbar-toggler
    font-size: 20px
    margin: 0 auto

.searchform
    position: relative

    &__submit
        background: none
        border: 0
        margin-right: 5px
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)

    input
        padding: 5px

.main-menu
    background-color: $color-primary

    .navbar-nav
        margin-left: 0

    .nav-item
        margin-left: 15px

    .nav-link
        color: $color-white

        &:hover
            text-decoration: underline

.hero
    align-items: center
    display: flex
    height: 400px
    justify-content: center
    position: relative

    h1
        @extend %font-open-sans
        color: $color-white
        font-size: 34px
        font-weight: bold
        z-index: 1

///////////////////////////////////////////////////////////////////////////////
// CONTENT - REUSABLE                                                        //
///////////////////////////////////////////////////////////////////////////////

.dark-overlay
    background-color: rgba(0, 0, 0, .5)
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

.section
    overflow: hidden
    padding: 45px 0

    h2
        color: $color-primary

    &--dark
        background-color: $color-dark
        color: $color-white

        h2
            color: $color-white
            position: relative

            &::after
                background-color: $color-secondary
                bottom: 0
                content: ' '
                height: 3px
                position: absolute
                right: 0
                width: 85%

.page-heading
    align-items: center
    display: flex

    &__logo
        display: inline-block
        margin-right: 15px

    &__heading
        display: inline-block
        padding-top: 30px

    &__title
        @extend %font-open-sans
        font-size: 30px
        margin-bottom: 0
        position: relative

        &::after
            background-color: $color-secondary
            bottom: 0
            content: ' '
            height: 2px
            left: 0
            margin-left: 30px
            position: absolute
            width: 200px

    &__subtitle
        font-size: 26px
        font-weight: normal
        margin-bottom: 0
        margin-top: 10px

.page-title
    color: $color-primary

    a
        color: $color-primary

.side-borders
    border-left: 3px solid $color-secondary
    border-right: 3px solid $color-secondary
    padding: 0 15px

.vert-spacer
    height: 30px
    width: 100%

.center-content
    align-items: center
    display: flex
    flex-direction: column
    height: 100%
    justify-content: center
    width: 100%

.btn
    border: 0
    border-radius: 2px
    flex: 0
    font-family: 'Arial', sans-serif
    font-size: $font-size-btn
    padding: 5px 20px

    &:hover
        text-decoration: none

.btn-primary
    background-color: $color-primary
    color: $color-white

    &:hover
        background-color: $color-primary-light
        color: $color-white

.btn-secondary
    background-color: $color-white
    color: $color-dark

    &:hover
        background-color: $color-secondary
        color: $color-dark

.mismatched-columns
    display: grid
    grid-gap: 30px
    grid-template-columns: 1fr
    grid-template-rows: auto

    &__thin
        grid-column: span 1

    &__wide
        grid-column: span 1

///////////////////////////////////////////////////////////////////////////////
// HOME                                                                      //
///////////////////////////////////////////////////////////////////////////////

.learn-more
    align-items: center
    display: flex
    flex-direction: column
    padding: 30px
    text-align: center

    &-wrapper
        display: flex
        flex-wrap: wrap

    h3
        color: $color-primary

    img
        margin: 15px 0
        max-width: 50%

    &__btn
        margin-top: auto

///////////////////////////////////////////////////////////////////////////////
// PEOPLE                                                                    //
///////////////////////////////////////////////////////////////////////////////

.leaders
    &__img
        display: block
        margin: 0 auto
        margin-bottom: 15px

    &__info
        display: block
        margin-bottom: 30px
        padding: 0 10%

    &__name
        color: $color-primary
        font-size: 20px
        position: relative

        &::after
            background-color: $color-secondary
            bottom: -2px
            content: ' '
            height: 2px
            left: 0
            margin-left: 30px
            position: absolute
            width: 80%

    &__title
        color: $color-dark
        font-size: 16px

    &__email
        color: $color-dark
        font-size: 14px

.members
    &__info
        margin-bottom: 30px
        position: relative

        &::after
            background-color: $color-secondary
            bottom: -12px
            content: ' '
            display: block
            height: 2px
            left: 0
            position: absolute
            width: 80%

    &__name
        font-size: 20px

    &__text
        font-size: 16px
        margin-bottom: 0

        &::last
            margin-bottom: 15px

    &__email
        color: $color-dark
        display: block
        font-size: 14px
        margin: 10px 0

///////////////////////////////////////////////////////////////////////////////
// CONTACT                                                                   //
///////////////////////////////////////////////////////////////////////////////

.contact
    &__input
        margin-bottom: 15px

///////////////////////////////////////////////////////////////////////////////
// CALENDAR                                                                  //
///////////////////////////////////////////////////////////////////////////////

.calendar
    &__search
        display: flex
        margin-bottom: 30px
        margin-top: 15px

    &__datepicker
        border: 1px solid $color-dark
        border-radius: 2px
        margin: 0 15px
        padding: 5px 10px

    &__month-heading
        background-color: $color-dark
        color: $color-white
        font-weight: bold
        margin: 30px 0
        padding: 5px 0
        text-align: center

.event
    &__summary
        align-items: center
        display: flex

    &__big-date
        display: inline-block
        margin-right: 30px

        p
            color: $color-dark
            font-size: 50px
            font-weight: bold
            margin-bottom: 0
            text-align: center

            &:last-of-type
                font-size: 26px
                margin-top: -20px

    &__info
        display: inline-block

    &__heading
        display: flex

    &__icon
        display: inline-block
        font-size: 30px
        margin-right: 10px

    &__title-date
        display: inline-block

    &__title
        font-size: 22px
        margin-bottom: 0

        a
            color: $color-primary

    &__date
        font-size: 18px
        margin-bottom: 0

    &__details-toggle
        cursor: pointer
        font-size: 14px
        font-weight: bold
        text-align: center

        a
            color: $color-dark

    &__details
        column-gap: 15px
        display: grid
        grid-template-columns: max-content auto
        grid-template-rows: auto
        margin-left: 85px
        max-height: 0
        overflow: hidden
        transition: max-height .3s linear

    .show-details
        max-height: 200px

.single
    &__title
        font-size: 30px
        margin-bottom: 0
        margin-top: 30px

    &__date
        color: $color-dark
        font-size: 18px
        margin-bottom: 0

    &__details
        color: $color-grey
        column-gap: 15px
        display: grid
        grid-template-columns: max-content auto
        grid-template-rows: auto

        & > p
            margin-bottom: 0

.newsletters
    &__month-heading
        color: $color-grey
        font-weight: bold
        margin: 30px 0
        padding: 5px 0
        text-align: center

    &__summary
        align-items: center
        display: flex

    &__big-date
        display: inline-block
        margin-right: 30px

        p
            color: $color-dark
            font-size: 50px
            font-weight: bold
            margin-bottom: 0
            text-align: center

            &:last-of-type
                font-size: 26px
                margin-top: -20px

    &__info
        display: inline-block

    &__heading
        display: flex

    &__title-date
        display: inline-block

    &__title
        font-size: 22px
        margin-bottom: 0

        a
            color: $color-black

    &__date
        color: $color-dark
        font-size: 18px
        margin-bottom: 0

    &__excerpt
        color: $color-black
        margin-left: 85px

        a
            color: $color-dark

.sidebar
    &__heading
        color: $color-dark
        margin-bottom: 15px

    &__list
        list-style-type: none

        a
            color: $color-dark
            font-weight: bold

///////////////////////////////////////////////////////////////////////////////
// 4 WAY TEST                                                                //
///////////////////////////////////////////////////////////////////////////////

.fourwaytest
    color: $color-dark
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: auto
    row-gap: 30px

    &__block
        align-items: start
        display: flex
        flex-direction: column
        padding: 0 30px

    &__icon
        margin: 15px 0

    &__heading
        color: $color-primary
        font-size: 22px

        span
            display: block
            font-size: 24px

    &__number
        color: $color-big-number
        font-size: 60px
        margin-bottom: 0

.objectivelist
    column-gap: 15px
    display: grid
    grid-template-columns: 1fr

///////////////////////////////////////////////////////////////////////////////
// 20 REASONS                                                                //
///////////////////////////////////////////////////////////////////////////////

.twentyreasons
    display: grid
    grid-gap: 30px
    grid-template-columns: 1fr

    &__reason
        display: flex

    &__number
        color: $color-big-number
        font-size: 60px
        margin-right: 15px
        margin-top: -30px

    &__heading
        color: $color-primary
        font-size: 20px

    &__description
        display: flex
        flex-direction: column
        height: 100%

        hr
            background-color: $color-secondary
            margin-top: auto

///////////////////////////////////////////////////////////////////////////////
// STORIES                                                                   //
///////////////////////////////////////////////////////////////////////////////

.stories
    display: grid
    grid-auto-rows: 20px;
    grid-gap: 30px
    grid-template-columns: 1fr

    &__img
        margin-bottom: 15px
        width: 100%

    &__title
        color: $color-primary
        font-size: 20px

    &__readmore
        color: $color-dark
        font-weight: bold

.view-more
    display: flex
    justify-content: end

.single-story
    &__title
        font-size: 30px
        margin-bottom: 15px
        margin-top: 30px

    &__date
        color: $color-dark
        font-size: 18px
        margin-bottom: 30px

///////////////////////////////////////////////////////////////////////////////
// FOOTER                                                                    //
///////////////////////////////////////////////////////////////////////////////

.footer
    text-align: center

    &__heading
        font-size: $font-size-footer-heading
        margin-bottom: 5px

    &__menu
        list-style: none

        li
            margin-bottom: 10px

        a
            color: $color-dark
            margin-bottom: 10px

            &:hover
                color: $color-dark

.copyright
    align-items: flex-end
    display: flex
    justify-content: center
    text-align: left

    img
        margin-right: 15px

    &__link
        color: $color-secondary

        &:hover
            color: $color-black


@import _responsive.sass
